body {
  font-family: "Poppins", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  padding: 15px 30px;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
html {
  font-size: 62.5%;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position:
    bottom right,
    left;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20rem;
}
.nav-title {
  font-size: 4.5rem;
  font-weight: 800;
  color: #181818;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 5rem;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 2rem;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-image {
  overflow-: hidden;
}
.banner .profile-pic {
  width: 500px;
}
.banner-intro {
  font-size: 4.5rem;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 8.5rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;

  font-size: 1.8rem;

  line-height: 3rem; /* 166.667% */
}
.banner-content {
  max-width: 50rem;
}

/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 3rem 0;
}

/* About Section */
.about {
  border-radius: 1rem;
  background: #fff8f3;
  padding: 13rem 15rem;
  text-align: center;
  max-width: 83rem;
  margin: 130px auto;
}

.about-info-container {
  display: flex;
  justify-content: space-between;
}
.about-info .info-title {
  color: #757575;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.5rem;
}
.about-info .info-description {
  color: #474747;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.5rem;
}
